<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ethan Netland</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div class="container">
    <header class="masthead">
      <nav role="navigation">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Resume</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <h3>Ethan Netland</h3>
    </header>
    <hr>
    <div class="row-fluid">
      {{ content }}
    </div>
    <hr>
    <footer class="footer">
      This is where footer stuff goes (Social Media?)
    </footer>
  </div>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="assets/js/bootstrap.js"></script>
</body>
</html>